<?xml version="1.0" encoding="UTF-8"?>
<Context>
    <Resource name="jdbc/myds" auth="Container" type="javax.sql.DataSource"
              driverClassName="org.h2.Driver" url="jdbc:h2:tcp://localhost:8084/target/mydb"
              username="sa" password=""/>

    <Environment name="someJndiValue" value="from_jndi" type="java.lang.String"/>
</Context>
